:root {
  --container-width: 1110px;
  --basic-space: 1rem;
  --color-beige: #f9f7e8;

  --basic-lightblue: #eff8f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  float: left;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  color: #727272;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
}

.hidden {
  display: none !important;
}
