* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}

#menu ul,
#menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu ul {
  position: relative;
  z-index: 597;
}
#menu ul li {
  float: left;
  min-height: 1px;
}
#menu ul li.hover,
#menu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#menu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#menu ul ul li {
  float: none;
}
#menu ul ul ul {
  top: 0;
  left: auto;
  right: -99.5%;
}
#menu ul li:hover > ul {
  visibility: visible;
}
#menu ul ul {
  bottom: 0;
  left: 0;
}
#menu ul ul {
  margin-top: 0;
}
#menu ul ul li {
  font-weight: normal;
}
#menu a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}

#menu {
  background: #333;
  border-bottom: 4px solid #2a75d2;
  font-family: "sans-serif";
  font-size: 12px;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#menu > ul {
  display: inline-block;
}

#menu:after,
#menu ul:after {
  content: "";
  display: block;
  clear: both;
}

#menu a {
  background: #161414;
  color: #faf2f2;
  padding: 0 20px;
}
#menu ul {
  text-transform: uppercase;
}

#menu ul ul {
  border-top: 4px solid #2a75d2;
  text-transform: none;
  min-width: 200px;
}
#menu ul ul a {
  background: #1b9bff;
  color: #fff;
  border: 1px solid #0082e7;
  border-top: 0 none;
  line-height: 150%;
  padding: 16px 20px;
}
#menu ul ul ul {
  border-top: 0 none;
}

#menu ul ul li {
  position: relative;
}

#menu > ul > li > a {
  line-height: 48px;
}

#menu ul ul li:first-child > a {
  border-top: 1px solid #0082e7;
}
#menu ul ul li:hover > a {
  background: #2a75d2;
}

#menu ul ul li:last-child > a {
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 0 #1b9bff;
}
#menu ul ul li:last-child:hover > a {
  border-radius: 0 0 0 3px;
}

#menu ul ul li.product > a:after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}

#menu ul li:hover > a,
#menu ul li.active > a {
  background: #2a75d2;
  color: #fff;
}
#menu ul li.product > a:after {
  content: "+";
  margin-left: 5px;
}
.flex {
  display: flex;
}
