@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  src: url("./Bitter-Regular.woff") format(woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bitter";
  src: url("./Bitter-Bold.woff") format(woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./Raleway-Regular.woff") format(woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("./Bitter-Bold.woff") format(woff);
  font-weight: 700;
  font-style: normal;
}
